

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'BigNoodleTitlingRegular';
    src: url('../fonts/big_noodle_titling/big_noodle_titling.eot');
    src: url('../fonts/big_noodle_titling/big_noodle_titling.eot') format('embedded-opentype'),
         url('../fonts/big_noodle_titling/big_noodle_titling.woff2') format('woff2'),
         url('../fonts/big_noodle_titling/big_noodle_titling.woff') format('woff'),
         url('../fonts/big_noodle_titling/big_noodle_titling.ttf') format('truetype'),
         url('../fonts/big_noodle_titling/big_noodle_titling.svg#BigNoodleTitlingRegular') format('svg');
}



body{background:url(../img/bg_espiral.jpg) center top repeat-x #e0faff; font-family:Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6,a{font-family: BigNoodleTitlingRegular,arial,Helvetica,sans-serif;}

/*Menú*/
.marca{position:absolute; top:10px;  left:0; right:0; margin:0 auto;}
.navbar-brand{position: relative; padding:0; }
.navbar-default{background:#ffffff; }
.navbar-default .navbar-nav li a{padding:37px 38px; font-size:17px; color:#6d6d6e; font-weight:100; }
.navbar-nav li{border-right:solid 1px #e8e8e8;}
.navbar-nav li:first-child{border-left:solid 1px #e8e8e8;}
.navbar-brand{display:block; }
.navbar-toggle{position:absolute; z-index:900; border:none; margin:0; top: 10px; left: 10px;}
.navbar-default .navbar-toggle .icon-bar{background-color:#6d6d6e;}
.navbar-default .navbar-nav li.open{background:#43a39e;}
.dropdown-menu{background:#43a39e; color:#fff;  margin:0; padding:0; min-width:154px; }
.navbar-default .navbar-nav li .dropdown-menu a{color:#fff;}
.navbar-default .navbar-nav li .dropdown-menu a:hover{background:#47B9B7!important; color:#fff!important; }
.navbar-default .navbar-nav li .dropdown-menu li{border-bottom:solid 1px #56c3bd;}
.navbar-nav li:first-child .dropdown-menu li{border:none;}
.navbar-default .navbar-nav li:first-child .dropdown-menu li{border-bottom:solid 1px #56c3bd;}
.navbar-nav li .dropdown-menu li{border:none;}
.navbar-nav li .dropdown-menu li{border-right:none; }
.navbar-nav li .dropdown-menu li a{padding:10px 20px; }
.navbar-right .dropdown-menu{right:inherit; left:0;}
.navbar-default .navbar-nav li a:hover{background:#fff!important; color:#CA4F3A!important;}

.navbar-toggle.compartir{right:0px; top:0; left:inherit; position:absolute;}
#compartir .nav.navbar-nav{text-align:right;}
#compartir .nav.navbar-nav li{padding:20px;}

/*header*/
header{height:380px; padding-top:180px; text-align:center;   
	background:url(../img/header_circulos.png) center 150px no-repeat,
			   url(../img/header_olas.png) center bottom repeat-x; 
}
header h1{margin:0 auto; display:inline-block; font-size:40px; font-weight:100%; color:#28847e; padding-left:50px; background:url(../img/icon_titulo.png) left center no-repeat; }

.casa_verde_header{position:absolute; max-width:58px; height:auto; width: 7%; top: 76%; left: 0;}
.casa_sombra_header{position:absolute; max-width:52px; height:auto; width: 5%; top: 120%; left: 24%;}
.edificio_gris_header{position:absolute; max-width:149px; height:auto; width:14%; top: 104%; left: 58%;}
.casa_naranja_header{position:absolute; max-width:63px; height:auto; width: 6%; top: 110%; right: 4%;}

header .col-xs-12{position: relative;}
/*Visual*/
.jumbotron{background:none; margin:0;}
.presentacion{padding:0; }
.paisaje div{padding:0;}
.paisaje{position:relative;}
.paisaje .col-xs-12{position:relative; height:560px; overflow:hidden;}
.paisaje .col-xs-12 div{position:absolute; bottom:0; left:0; right:0; margin:0 auto;}
.cerro01{z-index:4; background:url(../img/montana01.png) center bottom repeat-x; max-height:250px; height:47%;}
.cerro02{z-index:7; background:url(../img/montana02.png) center bottom repeat-x; max-height:200px; height: 36%;}
.cerro03{z-index:8; background:url(../img/montana03.png) center bottom repeat-x; max-height:134px; height:25%;}
.paisaje .col-xs-12 div.casa_verde{width: 15%; max-width: 222px; height: auto; bottom: inherit; top: 26%; z-index: 6; left: inherit; right: 31%; margin: 0;}
.paisaje .col-xs-12 div.edificio_azul{width: 13%; max-width: 202px; height: auto; bottom: inherit; top: 31%; z-index: 5; left: 6%; right: inherit; margin: 0;}
.paisaje .col-xs-12 div.casa_amarilla{width: 10%; max-width:125px; height:auto; bottom:inherit;top:30%; z-index: 3; left: 24%; right:inherit; margin:0;}
.paisaje .col-xs-12 div.senal_vuelve_casa{width: 24%; max-width: 385px; height: auto; bottom: inherit; top: 22%; z-index: 2; left: 31%; right: inherit; margin: 0;}
.paisaje .col-xs-12 div.edificio_gris{width: 8%; max-width: 92px; height: auto; bottom: inherit; top: 30%; z-index: 3; right: 10%; right: 7%; margin: 0; left: inherit;}
.llamado.row{background:#DDFFE8; text-align:center; padding-bottom:50px;}
.llamado h1{color:#28847e; font-size:64px; font-weight:lighter; text-transform: uppercase; line-height:100%; margin:0 auto;}
.llamado h2{color:#d2262b; font-size:64px; font-weight:lighter; text-transform: uppercase; line-height:100%; margin:0 auto;}
.llamado h3{color:#2f918b; font-size:29px; font-weight:lighter; text-transform: uppercase; line-height:100%; margin:0 auto;}

/*redes*/
#redes_fixed{top:110px; right:10px;  background:url(../img/bg_blanco_70.png) repeat; height:auto; width:auto; z-index:999; border:solid 1px #fff; padding:10px; }
#redes_fixed div{float:left; margin:0 5px; }
#redes_fixed iframe{float:left; margin:0 5px; }
#redes_fixed p{margin:5px 10px 0 0; float:left; color:#0d74b5; font-size:13px; font-family:'Roboto Condensed', sans-serif;}
.info_footer .redes .row a{transition: all 0.5s ease;}
.info_footer .redes .row a:hover{opacity: 0.6;}


/*home*/
.contenido.home{background: #DDFFE8;}
.margen_verde{position:relative; padding:20px; background:#FFFFFF; -moz-border-radius:300px; -webkit-border-radius:300px; border-radius:300px; transition: all 0.2s ease;}
a:hover .margen_verde{background:#4cccc9;}
.margen_blanco{position:relative; padding:20px; background:#fff; -moz-border-radius:300px; -webkit-border-radius:300px; border-radius:300px; -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.2); box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.2);}
.titulo{background:#3f9690; position:absolute; height: 27%; min-height:80px; width:100%; z-index:1; bottom:0; }
.titulo p{font-size: 18px; font-weight: 100; color: #ffffff; line-height: 110%; font-family: BigNoodleTitlingRegular,arial,Helvetica,sans-serif; text-align: center; max-width: 155px; margin: 6px auto 0; max-height: 56px; letter-spacing: 0.02em; overflow: hidden;}
.destacados img{position:relative; z-index:0; margin:0 auto; }
.mascara{position: relative; border:solid 5px #4cccc9; overflow:hidden; -moz-border-radius:300px; -webkit-border-radius:300px; border-radius:300px; transition: all 0.2s ease;}
a:hover .mascara{border:solid 8px #4cccc9;}
.novedades .mascara{border:solid 5px #3f9690; }
.destacados a{display:block;}
.btn_mas{padding: 2px; background:#3f9690; border: solid 3px #ffffff; position:absolute; bottom: 10%; z-index:3;  right: 8%; -moz-border-radius:300px; -webkit-border-radius:300px; border-radius:300px;transition: all 0.2s ease;}
a:hover .btn_mas{background:#ffffff; border: solid 3px #3f9690;}
.btn_mas p{max-height: 46px; vertical-align: middle; line-height: 60%; padding: 10px; font-size: 23px; font-family: arial,Helvetica,sans-serif; color: #fff; font-weight: 100; background: #3f9690; border: solid 2px #45a9a2;text-align: center; margin: 0 auto; -moz-border-radius:300px; -webkit-border-radius:300px; border-radius:300px; transition: all 0.2s ease;}
a:hover  .btn_mas p{color: #3f9690;; background: #ffffff; border: solid 2px #ffffff;}
.contenido article{ margin-bottom:20px;}

.novedades{text-align:center;}
.novedades h3{ color:#a1272a; border-bottom:solid 1px #bcd8bf; line-height:100%; padding-bottom:5px; margin:20px 0;}

/*Expositores*/
.contenido{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #E7FFE9),
	color-stop(1, #DDFFE8),
	color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #E7FFE9 0%, #DDFFE8 100%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #E7FFE9 0%, #DDFFE8 100%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #E7FFE9 0%, #DDFFE8 100%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #E7FFE9 0%, #DDFFE8 100%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #E7FFE9 0%, #DDFFE8 100%, #FFFFFF 100%);
}
.expositores .margen_verde,.expositores .margen_blanco{padding:15px;}
.expositores article h2,.lista_expositores article h2{color:#28847e; font-size:22px; line-height:100%; font-weight:100;  text-align:center; margin:15px 0 0; padding:0;}
.expositores article:first-child .mascara{background:#4cccc9;}
.expositores article:first-child .margen_verde{background:#fff;}
.expositores article:nth-child(3) .margen_verde{background:#fff;}
.expositores article:nth-child(3) .mascara{background:#4f9791;}
.expositores .btn_mas p{padding:2px; }

.lista_expositores .mascara{background:#f5f5f5; }
/*.lista_expositores .margen_verde{background:#4cccc9; }*/
/*.lista_expositores .margen_blanco{}*/
.lista_expositores .margen_verde,.lista_expositores .margen_blanco{padding:15px;}
.lista_expositores .btn_mas p{padding:5px; }


/*detalle*/
.detalle .container{background:#f4fff5; padding:0;}
.centrado{padding:0; padding-bottom:8%;}
.info_detalle{padding:0; background:#fff;}
/*.info_detalle p{padding:0;}*/
.resumen{position:relative; margin-top:8%; margin-bottom:30px;  color:#386967;}
.resumen .fondo{min-width:100%; height:auto; position:relative; z-index:0;}
.resumen .header{position:absolute; top:0; display:block; z-index:1; width:100%;}
.resumen h1.titulo_resumen{font-size:24px; padding:14px 30px;  color:#fff; background: rgba(40,132,126, 0.7 ); position:absolute; bottom:0; left:0; display:block; z-index:1;  margin:0; line-height:100%; font-weight:100; border-top:solid 1px #fff;}
.info_detalle,.info_detalle p{padding-top:5px; padding-bottom:5px; font-family:arial,sans-serif; font-size:13px; line-height:110%; font-weight:100; color:#386967;}
.resumen a{padding-top: 13px; color:#1a6560; font-weight:bold; font-size:16px; letter-spacing:inherit; display:block; float:right; margin-top:15px; min-height:36px;}
.resumen a:hover{text-decoration:none; }
.icon_red{background:url(../img/btn_red.png) right center no-repeat; padding-right:50px; background-size:auto 100%;}


.compartir_post{float:right; position:relative;}
.fecha{float:left;}
.btn_compartir{background:url(../img/icon_share.png) no-repeat; width:29px; height:29px; display: block; float:right; margin-left:10px;}
.compartir_post{list-style:none;}
.compartir_post a{ margin:0 10px 0;  font-size:12px; color:#fff; font-weight:100; font-family:arial,sans-serif; line-height: 29px;}
.compartir_post a{text-decoration:none;}
.compartir_post .dropdown-menu{background:none; top: 60px; right: 10px; text-align:right; max-width:80px; left:inherit;}
.compartir_post .dropdown-menu a{background:none; color:#fff;}
.compartir_post .dropdown-menu > li > a{padding:0; margin:0;}
.compartir_post .dropdown-menu > li > a:hover{background:none; color:#fff;}
.info_detalle{margin-bottom:40px;}
.fecha{}
.fecha span{font-size:14px; color:#fff; float:left; padding:10px 5px; margin:0 0 0 1px;}
.fecha span:first-child{background: rgba(29,128,122, 0.8 ); }
.fecha span:nth-child(2){background: rgba(69,136,115, 0.7);  }
.fecha span:last-child{background: rgba(255,255,255, 0.2);   }

.contenido ul{list-style-type: none; margin-top: 30px;}
.contenido li { background: url(../img/icon_small.png) left center no-repeat; padding-left: 33px; }

.detalle h1{color:#28847e; font-size:36px; line-height:120%; margin:0; padding:0; font-weight:100;}
.detalle h2{color:#e65422; font-size:28px; line-height:120%; margin:0; padding:0; font-weight:100;}
.detalle h3{color:#839183; font-size:24px; line-height:120%; margin:0; padding:0; font-weight:100;}
.detalle p span{color:#697269; font-size:12px; line-height:120%; margin:0; padding:0; font-weight:100;}
/*footer*/
footer{width:100%; display:block; background:url(../img/footer_cerros.png) center bottom repeat-x #DDFFE8; padding-bottom:60px;}
.marcas{background:#fff; /*background: rgba(255,255,255, 0.6 ); */overflow:hidden; display:block; padding:20px; border:solid 1px #fff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.marcas a img{transition: all 0.5s ease;}
.marcas a img:hover{opacity: 0.6;}
.marcas_footer img{margin:0 auto;}
.info_footer{padding-top:24px;}
.info_footer img{margin:0 auto;transition:all 0.5s ease;}
.info_footer img:hover{opacity:0.7;}
.info_footer p{color:#296967; font-size:12px; margin:30px 0 0; display:block; float:left;}
.redes{padding:0;}
.redes .row{margin:10px 0 0; }
.redes a{margin:0; padding:0; transition: all 0.5s ease;}
.redes p{float:left; text-align:left; font-size:12px; text-transform:uppercase; color:#fff; margin:10px 0 0 0; font-family:roboto, arial,helvetica,sans-serif;}

.marcas_footer h4{font-size:12px; color:#b0f6ff; font-family:Roboto,arial; line-height:100%; margin:0 0 10px 0; padding:0; text-align:left; float:none; clear:both;}
.senales_footer{
	background:
		url(../img/footer_cerros.png) center 175px repeat-x,
		url(../img/footer_circulos.png) center top no-repeat,
		url(../img/footer_rayos.png) center top no-repeat;
	position:relative;	
}

.senales_footer .col-xs-12{position:relative; height:250px;}
.senales_footer .col-xs-12 div{position:absolute;}
.senal_izquierda{max-width:126px; height:auto; bottom:0; left: 7%;}
.senal_centro{max-width:183px; height:auto; bottom:0; left: 38%;}
.senal_derecha{max-width:115px; height:auto; bottom:0; right: 18%;}

/*ie8*/
.lt-ie9 .marcas{background:url(../img/footer_fondo-transparente.png) repeat; }
.lt-ie9 .borde_blanco{display:block;}
.lt-ie9 .margen_verde{display:block;}
.lt-ie9 .llamado h1{color:#28847e; font-size:25px; font-weight:normal; text-transform: uppercase; line-height:100%; margin:0 auto;}
.lt-ie9 .llamado h2{color:#d2262b; font-size:25px; font-weight:normal; text-transform: uppercase; line-height:100%; margin:0 auto;}
.lt-ie9 .llamado h3{color:#2f918b; font-size:20px; font-weight:normal; text-transform: uppercase; line-height:100%; margin:0 auto;}
.lt-ie9 .destacados .titulo p{font-size: 16px; font-weight: 300; color: #ffffff; line-height: 110%; font-family:arial,Helvetica,sans-serif; text-align: center; max-width:90%; margin: 6px auto 0; max-height: 54px; letter-spacing: 0.02em; overflow: hidden;}
.lt-ie9 .btn_mas{bottom:inherit; top:25px; right:25px;}
.lt-ie9 header{height:380px; padding-top:180px; text-align:center;background:url(../img/header_olas.png) center bottom repeat-x;}
.lt-ie9 .contenido{background:#e7ffe9;}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */ 
/*	@media only screen and (min-width : 320px) {

	}*/

	/* Extra Small Devices, Phones */ 
/*	@media only screen and (min-width : 480px) {

	}*/

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		.navbar-default .navbar-nav li a {padding: 27px 15px;}
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		.navbar-default .navbar-nav li a {padding: 37px 26px;}
		.senales_footer {background:url(../img/footer_circulos.png) center top no-repeat, url(../img/footer_rayos.png) center top no-repeat; position: relative!important;}		
		
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		.navbar-default .navbar-nav li a{padding:37px 38px;}
		.senales_footer {background: url(../img/footer_circulos.png) center top no-repeat, url(../img/footer_rayos.png) center top no-repeat; position: relative;}		
	}



	/*==========  Non-Mobile First Method  ==========*/

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {
		/*.titulo_pagina{background-color:red;}	*/
		.titulo p{max-width: 140px;}

	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {
		/*.titulo_pagina{background-color:orange;}*/
		.navbar-brand .soporte{max-width:220px; width:100%; height:auto;}
		.navbar-brand .marca{width:60%; height:auto;}
		.paisaje .col-xs-12{height: 400px;}
		.paisaje .col-xs-12 div{background-size:auto 100%;}
		#redes_fixed{top:90px;}
		.titulo p{font-size: 16px; max-width: 110px; max-height: 50px;}
		.btn_mas p{padding:4px;}
		.margen_verde,.margen_blanco{padding: 15px;}
		.btn_mas{bottom: 13%; z-index: 3; right: 0%;}
		.marcas{padding:10px; }
		.marcas div{padding:0; }
		
		footer{
			background-position:center 175px; 
			background-color:#DDFFE8; 
		}
		.senal_derecha{bottom: -5%; right: 5%;}	
		.expositores .margen_verde,.expositores .margen_blanco{padding:15px; max-width: 245px; height:auto; margin:0 auto;}
		.expositores .btn_mas {right:2%;}		
		.expositores .btn_mas p{padding:5px; font-size:30px;}
		header{background-size:100% auto; height:280px; padding-top: 140px;}		

	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px) {
		/*.titulo_pagina{background-color:yellow;}*/
		.navbar-default .navbar-nav li{border:none; border-bottom: solid 1px #e8e8e8;}
		.navbar-default .navbar-nav li a {padding: 15px 20px;}
		.navbar-collapse{margin-top: 40px;}
		.navbar-brand{float:none; margin:0 auto; text-align:center;}
		.navbar-brand .soporte{height:130px; width:auto;}				
		.navbar-brand .marca{height:auto; width:120px;}		
		
		.paisaje .col-xs-12 { height: 320px; margin-top: 50px;}
		.llamado h1{font-size:49px;}		
		.llamado h2{font-size:49px;}		
		.llamado h3{font-size:25px;}	
		.margen_verde,.margen_blanco{padding:20px; max-width:300px; margin:0 auto;}
		.btn_mas{bottom: 10%; z-index:3;  right: 8%;}
		.btn_mas p{padding: 10px; }
		.titulo p{font-size: 18px;max-width: 120px; max-height: 56px;}
		/*.marcas_footer h4{color:#fff; }*/
		.marcas_footer{margin-top:20px;}
		.marcas_footer .col-xs-12 .row div{margin:10px 0;}

		.redes{margin: 10px auto;}
		.info_footer p{margin:10px auto; float:none; display:block; text-align:center;    }
		footer{
			background-position:center 175px; 
			background-color:#5abbc8; 

		}
		.senales_footer{background-color:#DDFFE8; }	
		.senal_derecha{bottom: -9%; right: 3%;}	
		.senal_izquierda{bottom: -26%; left: 1%;}

		header { background-size: 100% auto; height: 290px; padding-top: 140px;}
		header h1{ background-position:left top; padding-left:10%;  }


	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {
		/*.titulo_pagina{background-color:purple;}*/
		.paisaje .col-xs-12 {height: 200px; margin-top:100px;}
		.llamado h1{font-size:30px;}		
		.llamado h2{font-size:30px;}		
		.llamado h3{font-size:16px;}				
		header { background-size: 100% auto; height: 230px; padding-top: 140px; }		
		header h1{background-size:15% auto; font-size: 29px; background-position:left center; max-height:62px; overflow:hidden;}
		
	}

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) {
		/*.titulo_pagina{background-color:green;}*/
	}


/*nota:*/
/*div {
   background: rgba(200, 54, 54, 0.5); 
}*/
